<style>
  .form-elegant .font-small {
font-size: 0.8rem; }

.form-elegant .z-depth-1a {
-webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
-webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }



</style>

        <!--Logo and Company Name, Slogan-->
             <div class="container" style="text-align: center;">
                    <img class="high-heel" src="/images/shoes/High-HellLogo.png">
                    <h1 class="heading-spacing ">Shoes On</h1>
                    <span>Designs</span>
            
                </div>

 <form class="form-style margin-top" action="/login" method="POST">

<section class="form-elegant">
<!--Form without header-->
<div class="card">

    <div class="card-body mx-4">

        <!--Header-->
        <div class="text-center">
            <h3 class="dark-grey-text mb-5"><strong>Sign in</strong></h3>
        </div>

       

        <!--Body-->
        <div class="md-form">
              <input type="email" name="email" class="form-control"id="Form-email1" aria-describedby="emailHelp" placeholder="Enter email">
     
            <label for="Form-email1">Your email</label>
        </div>

        <div class="md-form pb-3">
          <input type="password" name="password" class="form-control" id="Form-pass1"placeholder="Password">          
          <label for="Form-pass1">Your password</label>
            <p class="font-small blue-text d-flex justify-content-end">Forgot <a href="#" class="blue-text ml-1"> Password?</a></p>
        </div>

        <div class="text-center mb-3">
            <button type="button" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Sign in</button>
        </div>
       

    </div>

    <!--Footer-->
    <div class="modal-footer mx-5 pt-3 mb-1">
        <p class="font-small grey-text d-flex justify-content-end">Not a member? <a href="/user/register" class="blue-text ml-1"> Sign Up</a></p>
    </div>
    </form>

</div>
<!--/Form without header-->

</section>









